.container {
  padding: 15px 20px;
}

.topPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;

  > * {
    flex-shrink: 0;
    max-width: 250px;
  }
}

.passwordsContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  user-select: none;
}

.password {
  background: white;
  border-radius: 10px;
  padding: 10px 20px;
  outline-offset: -1px;
  outline: 2px solid transparent;
  transition: outline-offset 100ms, outline-color 100ms;

  &:hover {
    outline-offset: 1px;
    outline: 2px solid var(--c-primary);
  }
}

.passwordPreview {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.passwordData {
  display: flex;
  align-items: center;
  gap: 10px;
}

.serviceData {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

.serviceName {
  width: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.logo {
  background: var(--c-bg-accent);
  border-radius: 50px;
  width: 34px;
  height: 34px;
}

.login {
  opacity: 0.5;
}

.hiddenData {
  margin-top: 10px;
}

.dataContainer {
  cursor: pointer;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  padding: 6px 10px;
  border-radius: 10px;
  background: var(--c-bg-accent);

  > span {
    display: flex;
    align-items: center;

    gap: 10px;
  }
}

.dataPlaceholder {
  font-size: 12px;
  color: var(--c-half-transparent-black);
}

.horizontalData {
  display: flex;
  gap: 10px;

  > div {
    flex: 1;
    height: fit-content;
  }
}

.verticalData {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.modalForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.modalButton {
  margin-top: 20px;
}
