.container {
  padding: 15px 20px;
}

.topPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  display: flex;
  gap: 10px;
}

.groupContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cardGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cardsContainer {
  display: flex;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 270px;
  height: 165px;
  padding: 15px 20px;
  background: var(--c-secondary);
  border-radius: 10px;
  user-select: none;
}

.cardDataContainer {
  cursor: pointer;
  font-weight: 600;
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 6px 10px;
  border-radius: 10px;
  background: var(--c-bg-accent);
  width: fit-content;

  &.cardNumber {
    width: 100%;
    justify-content: space-between;
  }
}

.mainCardData {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cvvContainer {
  display: flex;
  gap: 10px;

  & > span {
    font-size: 12px;
    width: 90px;
    opacity: 0.5;
  }
}

.otherCardData {
  display: flex;
  flex-direction: column;
}

.holder,
.expires {
  color: var(--c-half-transparent-black);
  width: 100%;
  text-wrap: nowrap;
  user-select: none;
}

.textAccent {
  color: black;
  cursor: pointer;
}

.hiddenCardNumber {
  font-size: 16px;
}

.moreButton {
  width: 30px;
  height: 30px;
  padding: 3px;
  border-radius: 50px;
  cursor: pointer;
  transition: background 100ms;

  &:hover {
    background: var(--c-bg-accent);
  }
}
