.dashboardContainer {
  height: 100%;
  display: flex;
}

.outletContainer {
  margin-top: 10px;
  position: relative;
  border-top-left-radius: 10px;
  background: var(--c-bg-accent);
  width: 100%;
}
