.moreButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 100ms;

  &:hover {
    background: var(--c-bg-accent);
  }
}
