.sidebar {
  height: 100%;
  width: 70px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  user-select: none;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.svgIcon {
  flex-shrink: 0;
}

.dashboardLink {
  > button > svg {
    color: var(--c-accent);
    transition: color 100ms;
  }

  &.active {
    > button > svg {
      color: var(--c-primary);
    }
  }
}
