.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  background: var(--c-bg-accent);
  outline-offset: -1px;
  outline: 2px solid transparent;
  transition: outline-offset 100ms, outline-color 100ms;
  color: var(--c-accent);

  &:hover {
    outline-offset: 1px;
    outline: 2px solid var(--c-primary);
    opacity: inherit;
  }
}

.imageImport {
  & > input {
    display: none;
  }

  & > label {
    cursor: pointer;
    position: absolute;
    inset: 0;
  }
}
