@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-SemiBold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-Bold.woff2");
  font-weight: 700;
}
