.input {
  font-family: inherit;
  font-size: inherit;
  outline: none;
  width: 100%;
  border: 2px solid var(--c-bg-accent);
  border-radius: 10px;
  padding-inline: 15px;
  padding-top: 7px;
  padding-bottom: 8px;
  transition: border-color 50ms;

  &:focus {
    border: 2px solid var(--c-primary);
  }

  &.error {
    border: 2px solid var(--c-error);
  }
}
